<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Chunkchain - Blockchain Try Out</title>
  <link href="style.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script>
	let fnScope = null;
    function log(message) {
		console.log(message);
      //document.getElementById("log").textContent += message + "\n";
    }
  </script>
  <script src="https://chr15m.github.io/bugout/bugout.min.js" type="application/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="./logic.js"></script>
  <script>
	angular.module('chunkchain', [])
	  .controller('ChatController', ['$scope', function($scope) {
		$scope.activityIndicator = true;
		$scope.selectedConversation = 'all';
		$scope.activeConversations = [
			'all'
		]
		$scope.tokenPerMessage = 1;
		$scope.currentMessage = "";
		$scope.feedNews = [];
		$scope.messagesList = [
			/*{
				'd': 'r', // direction - recieving
				'm': 'Hallo, wie geht\'s dir?'
			},
			{
				'd': 's', // direction - sending
				'm': 'Soweit, ganz gut. Und selber?'
			},
			{
				'd': 'r', // direction - recieving
				'u': true // unspend transaction
			},*/
		];
		$scope.token = 100;
		$scope.noOfNewMessages = 1;
		$scope.activityHasChanged = function() {
			  console.log($scope.activityIndicator);
		};
		$scope.conversationSelected = function(sSelectedItem) {
			console.log(sSelectedItem);
			$scope.selectedConversation = sSelectedItem;
		};
		$scope.feedItemSelected = function (sFeedItem) {

		};
		$scope.newParticipant = function (sNickname) {
			//$scope.activeConversations.push(sNickname);
			$scope.feedNews.push({
				'type': '+',
				'actor': sNickname,
				'time': moment().format("hh:mm:ss")
			});
			
		};
		$scope.participantLeft = function (sNickname) {
			$scope.activeConversations.remove(sNickname);
			$scope.feedNews.push({
				'type': '-',
				'actor': sNickname,
				'time': moment().format("hh:mm:ss")
			});
			
		};
		$scope.newMessage = function (sNickname, oTimestamp) {
			$scope.feedNews.push({
				'type': 'MSG',
				'actor': sNickname,
				'time': moment(oTimestamp).format("hh:mm:ss")
			});
			$scope.msgArrived(false, oTimestamp);
		};
		$scope.blockFound = function (sNickname, bSelfFlag, iMessages, sNonce) {
			if (bSelfFlag) {
				$scope.feedNews.push({
					'type': 'S',
					'nonce': sNonce,
					'time': moment().format("hh:mm:ss")
				});
			}
			else {
				$scope.feedNews.push({
					'type': 'B',
					'actor': sNickname,
					'n': iMessages,
					'time': moment().format("hh:mm:ss")
				});
			}
			$scope.msgArrived(true);
		};
		$scope.msgArrived = function (bEntireRefresh, oTimestamp) {
			// TODO: avoid the generation of new arrays
			var sRecipient = ($scope.selectedConversation === "all") ? "all" : Object.keys(oNickNames).find(key => oNickNames[key] === $scope.selectedConversation)
			if (bEntireRefresh) {
				$scope.messagesList = aBlockchain.map(block => block.l)
									.flat().filter(tx => tx.r === sRecipient)
									.map(tx => {
										return {
											'd': (getNickname(tx.s) === sUserNickName) ? 's' : 'r', // direction - recieving
											'm': tx.m,
											't': tx.t,
											'u': false
										}
									}).concat(
										oBlock.l.filter(tx => tx.r === sRecipient)
										.map(tx => {
											return {
												'd': (getNickname(tx.s) === sUserNickName) ? 's' : 'r', // direction - recieving
												'u': true,
												't': tx.t,
												'm': ""
											}
										})
									);
			}
			else {
				var aMessages = oBlock.l.filter(tx => tx.t === oTimestamp && tx.r === sRecipient)
										.map(tx => {
											return {
												'd': (getNickname(tx.s) === sUserNickName) ? 's' : 'r', // direction - recieving
												'u': true,
												't': tx.t,
												'm': ""
											}
										});
				aMessages.forEach(item => $scope.messagesList.push(item));
				console.log($scope.messagesList);
			}
			
		}
		$scope.onEnter = function (e) {
			e.preventDefault();
			if ($scope.token > $scope.tokenPerMessage) {
				sendMessage($scope.currentMessage, $scope.selectedConversation, $scope.tokenPerMessage);
				$scope.currentMessage = "";
				$scope.token -= $scope.tokenPerMessage;
			}
			else {
				// Error-Token
			}
		};

		setInterval(function() {
			$scope.$apply() 
		}, 400);

		fnScope = $scope;
	  }]);

  </script>

</head>
<body ng-app="chunkchain" ng-controller="ChatController">

    <div class="header">
        <img src="assets/ChunkChain_Logo.svg" width="200px" />

        <div class="header_items">
            <a>zur Blockchain-Ansicht
				<span class="button__badge {{ noOfNewMessages === 0 ? 'hidden' : '' }}">{{ noOfNewMessages }}</span>
			</a>
            <span>dein Kontostand: <b>{{ token }} Token</b></span>
        </div>
    </div>

    <div class="main_body">
        <h1 class="page_title">Chat</h1>
        <p class="introduction_section">
Aktuell nutzen wir eine <b>public blockchain</b> (jeder darf schreiben und lesen) und speichern <b>on-chain</b> (alle Daten in der Blockchain). <br />
Damit kannst du aktuell jede Nachricht lesen, die jemand in diesem Netzwerk schickt.
        </p>

        <div class="chat_container">
            <div class="chat_window">
                <div class="conversations_container">
					<p ng-repeat="convo in activeConversations track by $index" class="conversation {{ convo === selectedConversation ? 'selected' : '' }}" data-letters="{{ convo.substr(0, 1).toUpperCase() }}" ng-click="conversationSelected(convo)">
						{{ convo }}
					</p>
				</div>
				<div class="messages_container" style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
					<div ng-repeat="message in messagesList track by $index" class="message {{ message.d === 's' ? 'sent ' : '' }}{{ message.u === true ? 'unspend' : '' }}">
						{{ message.u ? 'warten auf Nachricht...' : message.m }}
					</div>
				</div>
            </div>
            <div class="background_activity">
				<h3 class="minor_title">Aktivitäten im Netzwerk</h3>
				<div class="switch_container">
					<span class="{{ !activityIndicator ? 'switch_selected' : '' }}">alle</span>
					<label class="switch">
						<input type="checkbox" ng-model="activityIndicator" ng-change="activityHasChanged()">
						<span class="slider"></span>
					</label>
					<span class="{{ activityIndicator ? 'switch_selected' : '' }}">nur meine Aktivitäten</span>
				</div>
				<div class="activity_feed">
					<div class="activity_item" ng-repeat="feedItem in feedNews.slice().reverse() track by feedItem.time" ng-click="feedItemSelected(feedItem)">
						<div ng-if="feedItem.type == '+' ">
							<span class="time">{{ feedItem.time }}</span><b>{{ feedItem.actor }}</b> ist dem Netzwerk beigetreten.
						</div>
						<div ng-if="feedItem.type == '-' ">
							<span class="time">{{ feedItem.time }}</span><b>{{ feedItem.actor }}</b> hat das Netzwerk verlassen.
						</div>
						<div ng-if="feedItem.type == 'M+' ">
							<span class="time">{{ feedItem.time }}</span><b>{{ feedItem.actor }}</b> sucht jetzt auch nach Blöcken (mining).
						</div>
						<div ng-if="feedItem.type == 'M-' ">
							<span class="time">{{ feedItem.time }}</span><b>{{ feedItem.actor }}</b> hat die Suche nach Blöcken aufgegeben.
						</div>
						<div ng-if="feedItem.type == 'B' ">
							<span class="time">{{ feedItem.time }}</span><b>{{ feedItem.actor }}</b> hat einen neuen Block gefunden für <b>{{ feedItem.n }}</b> Nachrichten.
						</div>
						<div ng-if="feedItem.type == 'S' ">
							<span class="time">{{ feedItem.time }}</span>Du hast einen Block gefunden. <b>{{ feedItem.nonce }}</b> ist die Lösung
						</div>
						<div ng-if="feedItem.type == 'MSG' ">
							<span class="time">{{ feedItem.time }}</span><b>{{ feedItem.actor }}</b> hat eine Nachricht geschrieben.
						</div>
					</div>
				</div>
				
			</div>
			<div class="chat_window_footer">
				<div class="chat_window_footer_new_chat_container">
					<button class="button">neuer Chat</button>
				</div>
				<div class="chat_window_footer_message">
					<input type="number" size="1" maxlength="2" ng-model="tokenPerMessage" />
					Token
					<div class="flexible_grow"></div>
					<form ng-submit="onEnter($event)">
						<input type="text" size="40" maxlength="300" placeholder="Nachricht..." ng-model="currentMessage" />
						<button class="button" [disabled]="currentMessage !== ''">senden</button>
					</form>
				</div>
			</div>
		</div>
		
    </div>

</body>
</html>
