body {
    padding: 15px;
    margin: 0 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    height: 80px;

    width: calc(100% - 30px);
    justify-content: space-between;
    align-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border-bottom: 1px solid #B3B3B3;
}

.header_items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    font-size: 0.75rem;
}

.header_items a,
button {
    background-color: #00B9F2;
    color: #FFF;
    padding: 5px 20px;
    margin-bottom: 20px;
    width: 150px;
    text-align: center;
    font-weight: bolder;

    margin-left: auto;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

button {
    appearance: none;
    font-weight: normal;
    margin: 0 auto;
    padding: 8px;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    color: #666666;
}

input {
    appearance: none;
    font-weight: normal;
    padding: 8px;
    border: 1px solid #B3B3B3;
}

input[type=number] {
    width: 50px;
    margin-right: 10px;
}

.main_body {
    width: calc(100% - 30px);
    overflow-y: auto;
    margin-top: 10px;
}

.page_title {
    color: #000;
    font-size: 2.5rem;
}

.introduction_section {
    font-size: 0.8rem;
    line-height: 130%;
    font-weight: lighter;
}

.introduction_section b {
    font-weight: bolder;
}

.chat_container {
    width: 100%;
    display: grid;
    grid-column-gap: calc(20px * 2);
    grid-template-columns: 70fr 30fr;
    height: 600px;
}

.chat_window {
    background-color: #F2F2F2;
    border: 1px solid #B3B3B3;
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: 25fr 75fr;
}

.chat_window_footer {
    background-color: #F2F2F2;
    border: 1px solid #B3B3B3;
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: 25fr 75fr;
    margin-top: -1px;
    height: 60px;
}


.background_activity {
    margin: 10px;
}

.conversations_container {
    padding: 0;
    border-right: 1px solid #B3B3B3;
}

.chat_window_footer_new_chat_container {
    padding: 10px 10px 10px 90px;
    border-right: 1px solid #B3B3B3;
}

.chat_window_footer_message {
    padding: 10px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexible_grow {
    flex-grow: 1;
}

.conversation[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 0.8rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    background: #AAA;
    vertical-align: middle;
    margin-right: 1em;
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.conversation {
    border-bottom: 1px solid #B3B3B3;
    cursor: pointer;
    padding: 20px 5px 15px 20px;
    margin: 0;
    width: calc(100% - 25px);
    font-size: 0.8rem;
    -webkit-transition: .4s;
    transition: .4s;
}

.selected[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 0.8rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    background: #FFF;
    vertical-align: middle;
    margin-right: 1em;
    color: #00B9F2;
    font-weight: bold;
}

.selected {
    border-bottom: 1px solid #B3B3B3;
    cursor: pointer;
    margin: 0;
    padding: 20px 5px 15px 20px;
    width: calc(100% - 25px);
    font-size: 0.8rem;
    background-color: #00B9F2;
    color: #FFF;
}

.switch_container {
    width: 100%;
    display: flex;
    font-size: 0.7rem;
    color: #B3B3B3;
    justify-content: center;
    align-items: center;
}

.switch_container span {
    padding: 0 10px;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

.switch_selected {
    color: #000;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B3B3B3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00B9F2;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00B9F2;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 26px;
}

.slider.round:before {
    border-radius: 50%;
}

.activity_feed {
    width:100%;
    padding: 10px;
    height: 80%;
    overflow-y: auto;
}

.activity_item {
    font-size: 0.8rem;
    border-bottom: 1px solid #B3B3B3;
    padding: 10px 0;
}